<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IDLT APPs</title>

    <base href="/" />

    <!-- This meta viewport ensures the webpage's dimensions change according to the device it's on. This is called Responsive Web Design.-->
    <!-- <meta name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" /> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1, user-scalable=0, viewport-fit=cover" />
    <meta name="description" content="IDLT APPs | 랜덤달리기" />

    <!-- These meta tags are Apple-specific, and set the web application to run in full-screen mode with a black status bar. Learn more at https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html-->
    <meta name="apple-mobile-web-app-title" content="랜덤달리기 | IDLT APPs" />

    <!-- Imports an icon to represent the document. -->
    <link rel="icon" href="logo.png" type="image/png" />

    <!-- Imports the manifest to represent the web application. A web app must have a manifest to be a PWA. -->
    <link rel="manifest" href="/manifest.json" />

    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="랜덤달리기"
    />
    <meta
      property="og:description"
      content="IDLT APPs"
    />
    <meta
      property="og:url"
      content='<%= domain %>'
    />
    <meta
      property="og:image"
      content="<%= domain %>/logo.png"
    />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="400" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#fff" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#222" />
    <meta
      name="color-scheme"
      content="light dark" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="mobile-web-app-capable"
      content="yes"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>

    <script>navigator.serviceWorker.register("/js/sw.js")</script> 
    <script>
      if ('serviceWorker' in navigator && location.protocol !== 'file:') {
        window.addEventListener('load', function() {
        navigator.serviceWorker.register('/js/sw.js')
          .then(function(reg) {
          reg.onupdatefound = function() {
            var installingWorker = reg.installing;
            installingWorker.onstatechange = function() {
            if (installingWorker.state === 'installed') {
              window.dispatchEvent(new Event('swUpdate'))
            }
            }
          }
          })
          .catch(function(err) { console.error('service worker error', err) });
        });
      }
    </script>
  </body>
</html>
